---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query {\n  repositoryOwner(login: \"halkeye\") {\n    repositories(first:100,
        after: null) {\n      pageInfo {\n        hasNextPage\n        endCursor\n      }\n      edges
        {\n        node {\n          nameWithOwner\n          rubyVersion: object(expression:
        \"HEAD:.ruby-version\") {\n            ... on Blob {\n              text\n            }\n          }\n          nodeVersion:
        object(expression: \"HEAD:.node-version\") {\n            ... on Blob {\n              text\n            }\n          }\n          toolVersions:
        object(expression: \"HEAD:.tool-versions\") {\n            ... on Blob {\n              text\n            }\n          }\n        }\n      }\n    }\n  }\n}\n"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Oauth-Scopes:
      - read:org, repo
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4780'
      X-Ratelimit-Reset:
      - '1589758231'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"repositoryOwner":{"repositories":{"pageInfo":{"hasNextPage":true,"endCursor":"Y3Vyc29yOnYyOpHOAfjPKQ=="},"edges":[{"node":{"nameWithOwner":"halkeye/vim","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/wp_google_profile_link","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/tops","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/xkcd-Bucket","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/videoScripts","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/profileBuilder","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/kohana-gdata","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/debug-toolbar","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/kohana-static","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/RetweetBot","rubyVersion":{"text":"2.0.0-p353\n"},"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/feedDownloader","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/p5-oauth-lite2","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/Games-Lacuna-Client","rubyVersion":null,"nodeVersion":null,"toolVersions":null}},{"node":{"nameWithOwner":"halkeye/Lacuna-Web-Client","rubyVersion":null,"nodeVersion":null,"toolVersions":nu[...]
