<table>
  <thead>
    <tr>
      <th>Repo Name</th>
      <th>Version</th>
    </tr>
  </thead>
  <% github_data.each do |repo_name, version| %>
    <tr>
      <td><%= repo_name %></td>
      <td><%= version %></td>
    </tr>
  <% end %>
</table>