
<ul>
<% organizations.each do |organization| %>
    <li>
        <a href="/<%= organization[:type] %>/<%= organization[:login] %>">
            <%= organization[:name] %>
            <p><%= organization[:description] %></p>
        </a>
    </li>
<% end %>
</ul>