
<p class="h1">Language Versions</p>
<p>This app will let you scan a user or organization for all .ruby-version, .node-version, and .tool-versions</p>
<p>
	<a class="btn btn-primary" href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>&scope=user,repo,read:org">Sign In with GitHub</a>
</p>
