
<p class="h1">Hey there,</p>
<p>We're going to sign in with the GitHub OAuth API. Ready?</p>
<p>
	<a class="btn btn-primary" href="https://github.com/login/oauth/authorize?client_id=<%= client_id %>&scope=user,repo">Sign In with GitHub</a>
</p>
